<li class="list-group-item">
  <div class="planet-item" data-id=<%= planet.id %> data-name="<%= planet.name %>">
    <%= planet.name %> - <%= planet.description %>
  <div />
  <button class="btn btn-primary" id="edit-planet">Edit</button>
  <button class="btn btn-danger" id="delete-planet">Delete</button>
</li>